ul{
    list-style: none;
    padding: 0;
    margin: 0;
    top: 0;
    width: 80px;
    border-bottom: 0;
}
li {
    position: relative;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 3px;
    top: 0;
}

.level1 li {
    background: red;
}

.level1 li:hover {
    background: black;
    color: white;
}

.level2 {
    display: none;
    position: absolute;
    width: 80px;
    left: 80px;
}

.level1 li:hover .level2 {
    display: flex;

}

.level3 {
    display: none;
    position: absolute;
    width: 80px;
    top: 27px;
}

.level2 li:hover .level3{
    display: block;
}

.level4 {
    display: none;
    position: absolute;
    width: 80px;
    left: 80px;
}

.level3 li:hover .level4{
    display: flex;
}

.level5 {
    display: none;
    position: absolute;
    width: 80px;
    top: 27px;
}

.level4 li:hover .level5{
    display: block;
}