.menu {
  .level1{
    .item {
      background: red;
      padding: 0;
      margin: 0;
      height: 30px;
      position: relative;
      .level2{
        display: none;
        position: absolute;
        left: 80px;
        top: 0;
        .item{
          background: blue;
          position: relative;
          .level3{
            display: none;
            position: absolute;
            left: 0;
            top: 30px;
            .item{
              background: greenyellow;
              position: relative;
              .level4 {
                display: none;
                position: absolute;
                top: 0;
                left: 80px;
                .item {
                  background: firebrick;
                  position: relative;
                .level5{
                  display: none;
                  position: absolute;
                  top: 30px;
                  left: 0;
                  .item {
                    background: darkblue;
                    position: relative;
                  &:hover {
                    background: blue;
                    color: white;
                  }
                  }
                }
                &:hover {
                  background: grey;
                  color: white;
                  .level5 {
                    display: block;
                  }
                }
                }
              }
              &:hover{
                background: red;
                color: white;
                .level4{
                  display: flex;
                }
              }
            }
          }
          &:hover{
            background: black;
            color: white;
            .level3{
              display: block;
            }
          }
        }
      }
      &:hover {
        background: black;
        color: white;
        .level2{
          display: flex;
        }
      }

    }
  }
}

.item{width: 80px;}